_ReSharper.mgzzx_2015/BuildScriptCache/.crc
_ReSharper.mgzzx_2015/BuildScriptCache/.version
_ReSharper.mgzzx_2015/BuildScriptCache/2/67dd6201.dat
_ReSharper.mgzzx_2015/ModuleIds.xml
_ReSharper.mgzzx_2015/NamedArguments/.crc
_ReSharper.mgzzx_2015/NamedArguments/.version
_ReSharper.mgzzx_2015/NamedArguments/1/266698a3.dat
_ReSharper.mgzzx_2015/NamedArguments/2/29d51780.dat
_ReSharper.mgzzx_2015/NamedArguments/7/4e1bf00.dat
_ReSharper.mgzzx_2015/PdbInfo/5e733004acbbd0de504d8ad54efc4fd0bda1bb29
_ReSharper.mgzzx_2015/PdbInfo/9a7add6eb30627ae896fd8f0e915d6602917a5a0
_ReSharper.mgzzx_2015/ProjectModel/ProjectModel.dat
_ReSharper.mgzzx_2015/Resources/.crc
_ReSharper.mgzzx_2015/Resources/.version
_ReSharper.mgzzx_2015/SymbolCache.bin
_ReSharper.mgzzx_2015/TagPrefixes/.crc
_ReSharper.mgzzx_2015/TagPrefixes/.version
_ReSharper.mgzzx_2015/TagPrefixes/7/4d1238dc.dat
_ReSharper.mgzzx_2015/TodoCache/.crc
_ReSharper.mgzzx_2015/TodoCache/.version
_ReSharper.mgzzx_2015/TodoCache/5/40c93e36.dat
_ReSharper.mgzzx_2015/TodoCache/5/59db2d7b.dat
_ReSharper.mgzzx_2015/WebsiteFileReferences/.crc
_ReSharper.mgzzx_2015/WebsiteFileReferences/.version
_ReSharper.mgzzx_2015/WordIndex/.crc
_ReSharper.mgzzx_2015/WordIndex/.version
_ReSharper.mgzzx_2015/WordIndex/1/266698a3.dat
_ReSharper.mgzzx_2015/WordIndex/2/29d51780.dat
_ReSharper.mgzzx_2015/WordIndex/2/47501e74.dat
_ReSharper.mgzzx_2015/WordIndex/5/59db2d7b.dat
_ReSharper.mgzzx_2015/WordIndex/7/4e1bf00.dat
_ReSharper.nmgskl_2014/BuildScriptCache/.crc
_ReSharper.nmgskl_2014/BuildScriptCache/.version
_ReSharper.nmgskl_2014/BuildScriptCache/1/5308f339.dat
_ReSharper.nmgskl_2014/ModuleIds.xml
_ReSharper.nmgskl_2014/NamedArguments/.crc
_ReSharper.nmgskl_2014/NamedArguments/.version
_ReSharper.nmgskl_2014/NamedArguments/0/18848d25.dat
_ReSharper.nmgskl_2014/NamedArguments/1/5308f339.dat
_ReSharper.nmgskl_2014/PdbInfo/0e3862dee7d2a502e2bffbef4b40bd4f28ee8709
_ReSharper.nmgskl_2014/PdbInfo/5e733004acbbd0de504d8ad54efc4fd0bda1bb29
_ReSharper.nmgskl_2014/PdbInfo/9a7add6eb30627ae896fd8f0e915d6602917a5a0
_ReSharper.nmgskl_2014/ProjectModel/ProjectModel.dat
_ReSharper.nmgskl_2014/Resources/.crc
_ReSharper.nmgskl_2014/Resources/.version
_ReSharper.nmgskl_2014/SymbolCache.bin
_ReSharper.nmgskl_2014/TagPrefixes/.crc
_ReSharper.nmgskl_2014/TagPrefixes/.version
_ReSharper.nmgskl_2014/TagPrefixes/9/a7e0abe.dat
_ReSharper.nmgskl_2014/TodoCache/.crc
_ReSharper.nmgskl_2014/TodoCache/.version
_ReSharper.nmgskl_2014/TodoCache/9/a7e0abe.dat
_ReSharper.nmgskl_2014/WebsiteFileReferences/.crc
_ReSharper.nmgskl_2014/WebsiteFileReferences/.version
_ReSharper.nmgskl_2014/WordIndex/.crc
_ReSharper.nmgskl_2014/WordIndex/.version
_ReSharper.nmgskl_2014/WordIndex/0/18848d25.dat
_ReSharper.nmgskl_2014/WordIndex/1/5308f339.dat
_ReSharper.nmgskl_2014/WordIndex/8/28304dcd.dat
_ReSharper.nmgskl_2014/WordIndex/8/fe6c0b0.dat
DB_MGZZX.mdf
DB_MGZZX_log.ldf
nmgskl_2014.5.0.ReSharper.user
nmgskl_2014.sln
nmgskl_2014.suo
DataLibrary/bin/Debug/Common.dll
DataLibrary/bin/Debug/Common.pdb
DataLibrary/bin/Debug/DataLibrary.dll
DataLibrary/bin/Debug/DataLibrary.pdb
DataLibrary/bin/Debug/DataLibraryBase.dll
DataLibrary/bin/Debug/DataLibraryBase.pdb
DataLibrary/bin/Debug/itextsharp.dll
DataLibrary/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
DataLibrary/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Data.dll
DataLibrary/bin/Debug/Microsoft.Practices.ObjectBuilder.dll
DataLibrary/bin/Debug/Newtonsoft.Json.dll
DataLibrary/bin/Debug/Telerik.Web.UI.dll
DataLibrary/bin/Debug/Telerik.Web.UI.xml
DataLibrary/obj/Debug/DataLibrary.csproj.FileListAbsolute.txt
DataLibrary/obj/Debug/DataLibrary.dll
DataLibrary/obj/Debug/DataLibrary.pdb
DataLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataLibrary/obj/Debug/ResolveAssemblyReference.cache
DataLibraryBase/bin/Debug/Common.dll
DataLibraryBase/bin/Debug/Common.pdb
DataLibraryBase/bin/Debug/DataLibraryBase.dll
DataLibraryBase/bin/Debug/DataLibraryBase.pdb
DataLibraryBase/bin/Debug/itextsharp.dll
DataLibraryBase/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
DataLibraryBase/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Data.dll
DataLibraryBase/bin/Debug/Newtonsoft.Json.dll
DataLibraryBase/bin/Debug/Newtonsoft.Json.pdb
DataLibraryBase/bin/Debug/Newtonsoft.Json.xml
DataLibraryBase/bin/Debug/Telerik.Web.UI.dll
DataLibraryBase/bin/Debug/Telerik.Web.UI.xml
DataLibraryBase/obj/Debug/DataLibraryBase.csproj.FileListAbsolute.txt
DataLibraryBase/obj/Debug/DataLibraryBase.dll
DataLibraryBase/obj/Debug/DataLibraryBase.pdb
DataLibraryBase/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wwwroot/Bin/App_Licenses.dll
wwwroot/Bin/App_Licenses.dll.refresh
wwwroot/Bin/Common.dll
wwwroot/Bin/Common.pdb
wwwroot/Bin/CustomWebControls.dll
wwwroot/Bin/CustomWebControls.pdb
wwwroot/Bin/DataLibrary.dll
wwwroot/Bin/DataLibrary.pdb
wwwroot/Bin/DataLibraryBase.dll
wwwroot/Bin/DataLibraryBase.pdb
wwwroot/Bin/FredCK.FCKeditorV2.dll
wwwroot/Bin/FredCK.FCKeditorV2.dll.refresh
wwwroot/Bin/FreetextBox.dll
wwwroot/Bin/FreetextBox.dll.refresh
wwwroot/Bin/ICSharpCode.SharpZipLib.dll
wwwroot/Bin/ICSharpCode.SharpZipLib.dll.refresh
wwwroot/Bin/Interop.Print2Flash3.dll
wwwroot/Bin/Interop.Print2Flash3.dll.refresh
wwwroot/Bin/Ionic.Zip.dll
wwwroot/Bin/Ionic.Zip.dll.refresh
wwwroot/Bin/iTextAsian.dll
wwwroot/Bin/iTextAsian.dll.refresh
wwwroot/Bin/iTextAsianCmaps.dll
wwwroot/Bin/iTextAsianCmaps.dll.refresh
wwwroot/Bin/itextsharp.dll
wwwroot/Bin/itextsharp.dll.refresh
wwwroot/Bin/LinkProtectLibrary.dll
wwwroot/Bin/LinkProtectLibrary.dll.refresh
wwwroot/Bin/Microsoft.Office.Interop.Visio.dll
wwwroot/Bin/Microsoft.Office.Interop.Visio.dll.refresh
wwwroot/Bin/Microsoft.Office.Interop.Word.dll
wwwroot/Bin/Microsoft.Office.Interop.Word.dll.refresh
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Common.dll
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Common.dll.refresh
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Data.dll
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Data.dll.refresh
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Security.dll
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Security.dll.refresh
wwwroot/Bin/Microsoft.Practices.ObjectBuilder.dll
wwwroot/Bin/Microsoft.Practices.ObjectBuilder.dll.refresh
wwwroot/Bin/Newtonsoft.Json.dll
wwwroot/Bin/Newtonsoft.Json.dll.refresh
wwwroot/Bin/Newtonsoft.Json.pdb
wwwroot/Bin/Newtonsoft.Json.xml
wwwroot/Bin/office.dll
wwwroot/Bin/office.dll.refresh
wwwroot/Bin/Telerik.Charting.dll
wwwroot/Bin/Telerik.Charting.dll.refresh
wwwroot/Bin/Telerik.Web.UI.dll
wwwroot/Bin/Telerik.Web.UI.dll.refresh
wwwroot/Bin/Telerik.Web.UI.Skins.dll
wwwroot/Bin/Telerik.Web.UI.Skins.dll.refresh
wwwroot/Bin/Telerik.Web.UI.xml
mgzzx_2015.suo
mgzzx_2015.suo
