_ReSharper.mgzzx_2015/BuildScriptCache/.crc
_ReSharper.mgzzx_2015/BuildScriptCache/.version
_ReSharper.mgzzx_2015/BuildScriptCache/2/67dd6201.dat
_ReSharper.mgzzx_2015/ModuleIds.xml
_ReSharper.mgzzx_2015/NamedArguments/.crc
_ReSharper.mgzzx_2015/NamedArguments/.version
_ReSharper.mgzzx_2015/NamedArguments/1/266698a3.dat
_ReSharper.mgzzx_2015/NamedArguments/2/29d51780.dat
_ReSharper.mgzzx_2015/NamedArguments/7/4e1bf00.dat
_ReSharper.mgzzx_2015/PdbInfo/5e733004acbbd0de504d8ad54efc4fd0bda1bb29
_ReSharper.mgzzx_2015/PdbInfo/9a7add6eb30627ae896fd8f0e915d6602917a5a0
_ReSharper.mgzzx_2015/ProjectModel/ProjectModel.dat
_ReSharper.mgzzx_2015/Resources/.crc
_ReSharper.mgzzx_2015/Resources/.version
_ReSharper.mgzzx_2015/SymbolCache.bin
_ReSharper.mgzzx_2015/TagPrefixes/.crc
_ReSharper.mgzzx_2015/TagPrefixes/.version
_ReSharper.mgzzx_2015/TagPrefixes/7/4d1238dc.dat
_ReSharper.mgzzx_2015/TodoCache/.crc
_ReSharper.mgzzx_2015/TodoCache/.version
_ReSharper.mgzzx_2015/TodoCache/5/40c93e36.dat
_ReSharper.mgzzx_2015/TodoCache/5/59db2d7b.dat
_ReSharper.mgzzx_2015/WebsiteFileReferences/.crc
_ReSharper.mgzzx_2015/WebsiteFileReferences/.version
_ReSharper.mgzzx_2015/WordIndex/.crc
_ReSharper.mgzzx_2015/WordIndex/.version
_ReSharper.mgzzx_2015/WordIndex/1/266698a3.dat
_ReSharper.mgzzx_2015/WordIndex/2/29d51780.dat
_ReSharper.mgzzx_2015/WordIndex/2/47501e74.dat
_ReSharper.mgzzx_2015/WordIndex/5/59db2d7b.dat
_ReSharper.mgzzx_2015/WordIndex/7/4e1bf00.dat
_ReSharper.nmgskl_2014/BuildScriptCache/.crc
_ReSharper.nmgskl_2014/BuildScriptCache/.version
_ReSharper.nmgskl_2014/BuildScriptCache/1/5308f339.dat
_ReSharper.nmgskl_2014/ModuleIds.xml
_ReSharper.nmgskl_2014/NamedArguments/.crc
_ReSharper.nmgskl_2014/NamedArguments/.version
_ReSharper.nmgskl_2014/NamedArguments/0/18848d25.dat
_ReSharper.nmgskl_2014/NamedArguments/1/5308f339.dat
_ReSharper.nmgskl_2014/PdbInfo/0e3862dee7d2a502e2bffbef4b40bd4f28ee8709
_ReSharper.nmgskl_2014/PdbInfo/5e733004acbbd0de504d8ad54efc4fd0bda1bb29
_ReSharper.nmgskl_2014/PdbInfo/9a7add6eb30627ae896fd8f0e915d6602917a5a0
_ReSharper.nmgskl_2014/ProjectModel/ProjectModel.dat
_ReSharper.nmgskl_2014/Resources/.crc
_ReSharper.nmgskl_2014/Resources/.version
_ReSharper.nmgskl_2014/SymbolCache.bin
_ReSharper.nmgskl_2014/TagPrefixes/.crc
_ReSharper.nmgskl_2014/TagPrefixes/.version
_ReSharper.nmgskl_2014/TagPrefixes/9/a7e0abe.dat
_ReSharper.nmgskl_2014/TodoCache/.crc
_ReSharper.nmgskl_2014/TodoCache/.version
_ReSharper.nmgskl_2014/TodoCache/9/a7e0abe.dat
_ReSharper.nmgskl_2014/WebsiteFileReferences/.crc
_ReSharper.nmgskl_2014/WebsiteFileReferences/.version
_ReSharper.nmgskl_2014/WordIndex/.crc
_ReSharper.nmgskl_2014/WordIndex/.version
_ReSharper.nmgskl_2014/WordIndex/0/18848d25.dat
_ReSharper.nmgskl_2014/WordIndex/1/5308f339.dat
_ReSharper.nmgskl_2014/WordIndex/8/28304dcd.dat
_ReSharper.nmgskl_2014/WordIndex/8/fe6c0b0.dat
DB_MGZZX.mdf
DB_MGZZX_log.ldf
nmgskl_2014.5.0.ReSharper.user
nmgskl_2014.sln
nmgskl_2014.suo
