_ReSharper.mgzzx_2015/BuildScriptCache/.crc
_ReSharper.mgzzx_2015/BuildScriptCache/.version
_ReSharper.mgzzx_2015/BuildScriptCache/2/67dd6201.dat
_ReSharper.mgzzx_2015/ModuleIds.xml
_ReSharper.mgzzx_2015/NamedArguments/.crc
_ReSharper.mgzzx_2015/NamedArguments/.version
_ReSharper.mgzzx_2015/NamedArguments/1/266698a3.dat
_ReSharper.mgzzx_2015/NamedArguments/2/29d51780.dat
_ReSharper.mgzzx_2015/NamedArguments/7/4e1bf00.dat
_ReSharper.mgzzx_2015/PdbInfo/5e733004acbbd0de504d8ad54efc4fd0bda1bb29
_ReSharper.mgzzx_2015/PdbInfo/9a7add6eb30627ae896fd8f0e915d6602917a5a0
_ReSharper.mgzzx_2015/ProjectModel/ProjectModel.dat
_ReSharper.mgzzx_2015/Resources/.crc
_ReSharper.mgzzx_2015/Resources/.version
_ReSharper.mgzzx_2015/SymbolCache.bin
_ReSharper.mgzzx_2015/TagPrefixes/.crc
_ReSharper.mgzzx_2015/TagPrefixes/.version
_ReSharper.mgzzx_2015/TagPrefixes/7/4d1238dc.dat
_ReSharper.mgzzx_2015/TodoCache/.crc
_ReSharper.mgzzx_2015/TodoCache/.version
_ReSharper.mgzzx_2015/TodoCache/5/40c93e36.dat
_ReSharper.mgzzx_2015/TodoCache/5/59db2d7b.dat
_ReSharper.mgzzx_2015/WebsiteFileReferences/.crc
_ReSharper.mgzzx_2015/WebsiteFileReferences/.version
_ReSharper.mgzzx_2015/WordIndex/.crc
_ReSharper.mgzzx_2015/WordIndex/.version
_ReSharper.mgzzx_2015/WordIndex/1/266698a3.dat
_ReSharper.mgzzx_2015/WordIndex/2/29d51780.dat
_ReSharper.mgzzx_2015/WordIndex/2/47501e74.dat
_ReSharper.mgzzx_2015/WordIndex/5/59db2d7b.dat
_ReSharper.mgzzx_2015/WordIndex/7/4e1bf00.dat
_ReSharper.nmgskl_2014/BuildScriptCache/.crc
_ReSharper.nmgskl_2014/BuildScriptCache/.version
_ReSharper.nmgskl_2014/BuildScriptCache/1/5308f339.dat
_ReSharper.nmgskl_2014/ModuleIds.xml
_ReSharper.nmgskl_2014/NamedArguments/.crc
_ReSharper.nmgskl_2014/NamedArguments/.version
_ReSharper.nmgskl_2014/NamedArguments/0/18848d25.dat
_ReSharper.nmgskl_2014/NamedArguments/1/5308f339.dat
_ReSharper.nmgskl_2014/PdbInfo/0e3862dee7d2a502e2bffbef4b40bd4f28ee8709
_ReSharper.nmgskl_2014/PdbInfo/5e733004acbbd0de504d8ad54efc4fd0bda1bb29
_ReSharper.nmgskl_2014/PdbInfo/9a7add6eb30627ae896fd8f0e915d6602917a5a0
_ReSharper.nmgskl_2014/ProjectModel/ProjectModel.dat
_ReSharper.nmgskl_2014/Resources/.crc
_ReSharper.nmgskl_2014/Resources/.version
_ReSharper.nmgskl_2014/SymbolCache.bin
_ReSharper.nmgskl_2014/TagPrefixes/.crc
_ReSharper.nmgskl_2014/TagPrefixes/.version
_ReSharper.nmgskl_2014/TagPrefixes/9/a7e0abe.dat
_ReSharper.nmgskl_2014/TodoCache/.crc
_ReSharper.nmgskl_2014/TodoCache/.version
_ReSharper.nmgskl_2014/TodoCache/9/a7e0abe.dat
_ReSharper.nmgskl_2014/WebsiteFileReferences/.crc
_ReSharper.nmgskl_2014/WebsiteFileReferences/.version
_ReSharper.nmgskl_2014/WordIndex/.crc
_ReSharper.nmgskl_2014/WordIndex/.version
_ReSharper.nmgskl_2014/WordIndex/0/18848d25.dat
_ReSharper.nmgskl_2014/WordIndex/1/5308f339.dat
_ReSharper.nmgskl_2014/WordIndex/8/28304dcd.dat
_ReSharper.nmgskl_2014/WordIndex/8/fe6c0b0.dat
DB_MGZZX.mdf
DB_MGZZX_log.ldf
nmgskl_2014.5.0.ReSharper.user
nmgskl_2014.sln
nmgskl_2014.suo
DataLibrary/bin/Debug/Common.dll
DataLibrary/bin/Debug/Common.pdb
DataLibrary/bin/Debug/DataLibrary.dll
DataLibrary/bin/Debug/DataLibrary.pdb
DataLibrary/bin/Debug/DataLibraryBase.dll
DataLibrary/bin/Debug/DataLibraryBase.pdb
DataLibrary/bin/Debug/itextsharp.dll
DataLibrary/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
DataLibrary/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Data.dll
DataLibrary/bin/Debug/Microsoft.Practices.ObjectBuilder.dll
DataLibrary/bin/Debug/Newtonsoft.Json.dll
DataLibrary/bin/Debug/Telerik.Web.UI.dll
DataLibrary/bin/Debug/Telerik.Web.UI.xml
DataLibrary/obj/Debug/DataLibrary.csproj.FileListAbsolute.txt
DataLibrary/obj/Debug/DataLibrary.dll
DataLibrary/obj/Debug/DataLibrary.pdb
DataLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataLibrary/obj/Debug/ResolveAssemblyReference.cache
DataLibraryBase/bin/Debug/Common.dll
DataLibraryBase/bin/Debug/Common.pdb
DataLibraryBase/bin/Debug/DataLibraryBase.dll
DataLibraryBase/bin/Debug/DataLibraryBase.pdb
DataLibraryBase/bin/Debug/itextsharp.dll
DataLibraryBase/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
DataLibraryBase/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Data.dll
DataLibraryBase/bin/Debug/Newtonsoft.Json.dll
DataLibraryBase/bin/Debug/Newtonsoft.Json.pdb
DataLibraryBase/bin/Debug/Newtonsoft.Json.xml
DataLibraryBase/bin/Debug/Telerik.Web.UI.dll
DataLibraryBase/bin/Debug/Telerik.Web.UI.xml
DataLibraryBase/obj/Debug/DataLibraryBase.csproj.FileListAbsolute.txt
DataLibraryBase/obj/Debug/DataLibraryBase.dll
DataLibraryBase/obj/Debug/DataLibraryBase.pdb
DataLibraryBase/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wwwroot/Bin/App_Licenses.dll
wwwroot/Bin/App_Licenses.dll.refresh
wwwroot/Bin/Common.dll
wwwroot/Bin/Common.pdb
wwwroot/Bin/CustomWebControls.dll
wwwroot/Bin/CustomWebControls.pdb
wwwroot/Bin/DataLibrary.dll
wwwroot/Bin/DataLibrary.pdb
wwwroot/Bin/DataLibraryBase.dll
wwwroot/Bin/DataLibraryBase.pdb
wwwroot/Bin/FredCK.FCKeditorV2.dll
wwwroot/Bin/FredCK.FCKeditorV2.dll.refresh
wwwroot/Bin/FreetextBox.dll
wwwroot/Bin/FreetextBox.dll.refresh
wwwroot/Bin/ICSharpCode.SharpZipLib.dll
wwwroot/Bin/ICSharpCode.SharpZipLib.dll.refresh
wwwroot/Bin/Interop.Print2Flash3.dll
wwwroot/Bin/Interop.Print2Flash3.dll.refresh
wwwroot/Bin/Ionic.Zip.dll
wwwroot/Bin/Ionic.Zip.dll.refresh
wwwroot/Bin/iTextAsian.dll
wwwroot/Bin/iTextAsian.dll.refresh
wwwroot/Bin/iTextAsianCmaps.dll
wwwroot/Bin/iTextAsianCmaps.dll.refresh
wwwroot/Bin/itextsharp.dll
wwwroot/Bin/itextsharp.dll.refresh
wwwroot/Bin/LinkProtectLibrary.dll
wwwroot/Bin/LinkProtectLibrary.dll.refresh
wwwroot/Bin/Microsoft.Office.Interop.Visio.dll
wwwroot/Bin/Microsoft.Office.Interop.Visio.dll.refresh
wwwroot/Bin/Microsoft.Office.Interop.Word.dll
wwwroot/Bin/Microsoft.Office.Interop.Word.dll.refresh
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Common.dll
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Common.dll.refresh
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Data.dll
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Data.dll.refresh
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Security.dll
wwwroot/Bin/Microsoft.Practices.EnterpriseLibrary.Security.dll.refresh
wwwroot/Bin/Microsoft.Practices.ObjectBuilder.dll
wwwroot/Bin/Microsoft.Practices.ObjectBuilder.dll.refresh
wwwroot/Bin/Newtonsoft.Json.dll
wwwroot/Bin/Newtonsoft.Json.dll.refresh
wwwroot/Bin/Newtonsoft.Json.pdb
wwwroot/Bin/Newtonsoft.Json.xml
wwwroot/Bin/office.dll
wwwroot/Bin/office.dll.refresh
wwwroot/Bin/Telerik.Charting.dll
wwwroot/Bin/Telerik.Charting.dll.refresh
wwwroot/Bin/Telerik.Web.UI.dll
wwwroot/Bin/Telerik.Web.UI.dll.refresh
wwwroot/Bin/Telerik.Web.UI.Skins.dll
wwwroot/Bin/Telerik.Web.UI.Skins.dll.refresh
wwwroot/Bin/Telerik.Web.UI.xml
mgzzx_2015.suo
mgzzx_2015.suo
Database/obj/Debug/Database.dbproj.FileListAbsolute.txt
Database/obj/Debug/Database.dbschema
Database/sql/debug/Database.dbschema
Database/sql/debug/Database.deploymanifest
Database/sql/debug/Database.sql
Database/sql/debug/DB_NMGSKL_Database.sqlcmdvars
Database/sql/debug/DB_NMGSKL_Database.sqldeployment
Database/sql/debug/DB_NMGSKL_Database.sqlsettings
Database/sql/debug/DB_NMGSKL_Script.PostDeployment.sql
Database/sql/debug/DB_NMGSKL_Script.PreDeployment.sql
DataModelApplication/obj/Debug/DataModelApplication.application
DataModelApplication/obj/Debug/DataModelApplication.csproj.FileListAbsolute.txt
DataModelApplication/obj/Debug/DataModelApplication.CustomConditionConfigForm.resources
DataModelApplication/obj/Debug/DataModelApplication.CustomDisplayFieldConfigForm.resources
DataModelApplication/obj/Debug/DataModelApplication.CustomOperateConfigForm.resources
DataModelApplication/obj/Debug/DataModelApplication.CustomPermissionConfigForm.resources
DataModelApplication/obj/Debug/DataModelApplication.CustomPermissionFieldsConfigForm.resources
DataModelApplication/obj/Debug/DataModelApplication.CustomRelatedTableConfigForm.resources
DataModelApplication/obj/Debug/DataModelApplication.DataColumnConfig.resources
DataModelApplication/obj/Debug/DataModelApplication.DataModelForm.resources
DataModelApplication/obj/Debug/DataModelApplication.EditCustomProperty.resources
DataModelApplication/obj/Debug/DataModelApplication.EditDataDict.resources
DataModelApplication/obj/Debug/DataModelApplication.exe
DataModelApplication/obj/Debug/DataModelApplication.exe.manifest
DataModelApplication/obj/Debug/DataModelApplication.GenerateCodeForm.resources
DataModelApplication/obj/Debug/DataModelApplication.GenerateCodeParameter.resources
DataModelApplication/obj/Debug/DataModelApplication.LogDialogBox.resources
DataModelApplication/obj/Debug/DataModelApplication.pdb
DataModelApplication/obj/Debug/DataModelApplication.Properties.Resources.resources
DataModelApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataModelApplication/obj/Debug/GenerateResource.read.1.tlog
DataModelApplication/obj/Debug/GenerateResource.write.1.tlog
CodeAutoGenerate/CustomProperty.xml
CodeAutoGenerate/CustomPropertyDataDict.xml
CodeAutoGenerate/DataModelApplication.application
CodeAutoGenerate/DataModelApplication.exe
CodeAutoGenerate/DataModelApplication.exe.config
CodeAutoGenerate/DataModelApplication.exe.manifest
CodeAutoGenerate/DataModelApplication.pdb
CodeAutoGenerate/Microsoft.Data.ConnectionUI.Dialog.dll
CodeAutoGenerate/Microsoft.Data.ConnectionUI.dll
CodeAutoGenerate/SandBar.dll
CodeAutoGenerate/SandDock.dll
CodeAutoGenerate/Template/ApplicationData.cs.xsl
CodeAutoGenerate/Template/ApplicationLogic.cs.xsl
CodeAutoGenerate/Template/ApplicationLogicBase.cs.xsl
CodeAutoGenerate/Template/BusinessEntity.cs.xsl
CodeAutoGenerate/Template/BusinessEntityBase.cs.xsl
CodeAutoGenerate/Template/Contants.cs.xsl
CodeAutoGenerate/Template/CopyToProject.bat.xsl
CodeAutoGenerate/Template/Script.table.sql.xsl
CodeAutoGenerate/Template/ScriptProc.sql.xsl
CodeAutoGenerate/Template/ScriptPurview.sql.xsl
CodeAutoGenerate/Template/ScriptUpdateField.sql.xsl
CodeAutoGenerate/Template/WebUI.cs.xsl
CodeAutoGenerate/Template/WebUIAdd.aspx.cs.xsl
CodeAutoGenerate/Template/WebUIAdd.aspx.xsl
CodeAutoGenerate/Template/WebUIBase.cs.xsl
CodeAutoGenerate/Template/WebUIDetail.aspx.cs.xsl
CodeAutoGenerate/Template/WebUIDetail.aspx.xsl
CodeAutoGenerate/Template/WebUIImage.aspx.cs.xsl
CodeAutoGenerate/Template/WebUIImage.aspx.xsl
CodeAutoGenerate/Template/WebUISearch.aspx.cs.xsl
CodeAutoGenerate/Template/WebUISearch.aspx.xsl
CodeAutoGenerate/Template/WebUIStatistic.aspx.cs.xsl
CodeAutoGenerate/Template/WebUIStatistic.aspx.xsl
DataModelApplication/bin/Debug/CodeGenerated/KeepMeAlive.txt
DataModelApplication/bin/Debug/Config/KeepMeAlive.txt
DataModelApplication/bin/Debug/CustomProperty.xml
DataModelApplication/bin/Debug/CustomPropertyDataDict.xml
DataModelApplication/bin/Debug/DataModelApplication.application
DataModelApplication/bin/Debug/DataModelApplication.exe
DataModelApplication/bin/Debug/DataModelApplication.exe.config
DataModelApplication/bin/Debug/DataModelApplication.exe.manifest
DataModelApplication/bin/Debug/DataModelApplication.pdb
DataModelApplication/bin/Debug/Microsoft.Data.ConnectionUI.Dialog.dll
DataModelApplication/bin/Debug/Microsoft.Data.ConnectionUI.dll
DataModelApplication/bin/Debug/SandBar.dll
DataModelApplication/bin/Debug/SandDock.dll
DataModelApplication/bin/Debug/Template/ApplicationData.cs.xsl
DataModelApplication/bin/Debug/Template/ApplicationLogic.cs.xsl
DataModelApplication/bin/Debug/Template/ApplicationLogicBase.cs.xsl
DataModelApplication/bin/Debug/Template/BusinessEntity.cs.xsl
DataModelApplication/bin/Debug/Template/BusinessEntityBase.cs.xsl
DataModelApplication/bin/Debug/Template/Contants.cs.xsl
DataModelApplication/bin/Debug/Template/CopyToProject.bat.xsl
DataModelApplication/bin/Debug/Template/Script.table.sql.xsl
DataModelApplication/bin/Debug/Template/ScriptProc.sql.xsl
DataModelApplication/bin/Debug/Template/ScriptPurview.sql.xsl
DataModelApplication/bin/Debug/Template/ScriptUpdateField.sql.xsl
DataModelApplication/bin/Debug/Template/WebUI.cs.xsl
DataModelApplication/bin/Debug/Template/WebUIAdd.aspx.cs.xsl
DataModelApplication/bin/Debug/Template/WebUIAdd.aspx.xsl
DataModelApplication/bin/Debug/Template/WebUIBase.cs.xsl
DataModelApplication/bin/Debug/Template/WebUIDetail.aspx.cs.xsl
DataModelApplication/bin/Debug/Template/WebUIDetail.aspx.xsl
DataModelApplication/bin/Debug/Template/WebUIImage.aspx.cs.xsl
DataModelApplication/bin/Debug/Template/WebUIImage.aspx.xsl
DataModelApplication/bin/Debug/Template/WebUISearch.aspx.cs.xsl
DataModelApplication/bin/Debug/Template/WebUISearch.aspx.xsl
DataModelApplication/bin/Debug/Template/WebUIStatistic.aspx.cs.xsl
DataModelApplication/bin/Debug/Template/WebUIStatistic.aspx.xsl
Common/obj/Release/build.force
Common/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Controls/CustomWebControls/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DataLibrary/obj/Debug/build.force
DataLibrary/obj/Release/build.force
DataLibrary/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DataLibraryBase/obj/Debug/build.force
DataLibraryBase/obj/Release/build.force
DataLibraryBase/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/CodeGenerated/KeepMeAlive.txt.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Config/KeepMeAlive.txt.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/CustomProperty.xml.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/CustomPropertyDataDict.xml.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/DataModelApplication.exe.config.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/DataModelApplication.exe.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/DataModelApplication.exe.manifest
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Microsoft.Data.ConnectionUI.Dialog.dll.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Microsoft.Data.ConnectionUI.dll.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/SandBar.dll.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/SandDock.dll.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/ApplicationData.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/ApplicationLogic.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/ApplicationLogicBase.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/BusinessEntity.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/BusinessEntityBase.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/Contants.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/CopyToProject.bat.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/Script.table.sql.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/ScriptProc.sql.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/ScriptPurview.sql.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/ScriptUpdateField.sql.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUI.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUIAdd.aspx.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUIAdd.aspx.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUIBase.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUIDetail.aspx.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUIDetail.aspx.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUIImage.aspx.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUIImage.aspx.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUISearch.aspx.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUISearch.aspx.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUIStatistic.aspx.cs.xsl.deploy
DataModelApplication/bin/Debug/app.publish/Application Files/DataModelApplication_1_0_0_1/Template/WebUIStatistic.aspx.xsl.deploy
DataModelApplication/bin/Debug/app.publish/DataModelApplication.application
DataModelApplication/bin/Debug/app.publish/setup.exe
DataModelApplication/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
DataModelApplication/obj/Release/DataModelApplication.application
DataModelApplication/obj/Release/DataModelApplication.csproj.FileListAbsolute.txt
DataModelApplication/obj/Release/DataModelApplication.CustomConditionConfigForm.resources
DataModelApplication/obj/Release/DataModelApplication.CustomDisplayFieldConfigForm.resources
DataModelApplication/obj/Release/DataModelApplication.CustomOperateConfigForm.resources
DataModelApplication/obj/Release/DataModelApplication.CustomPermissionConfigForm.resources
DataModelApplication/obj/Release/DataModelApplication.CustomPermissionFieldsConfigForm.resources
DataModelApplication/obj/Release/DataModelApplication.CustomRelatedTableConfigForm.resources
DataModelApplication/obj/Release/DataModelApplication.DataColumnConfig.resources
DataModelApplication/obj/Release/DataModelApplication.DataModelForm.resources
DataModelApplication/obj/Release/DataModelApplication.EditCustomProperty.resources
DataModelApplication/obj/Release/DataModelApplication.EditDataDict.resources
DataModelApplication/obj/Release/DataModelApplication.exe
DataModelApplication/obj/Release/DataModelApplication.exe.manifest
DataModelApplication/obj/Release/DataModelApplication.GenerateCodeForm.resources
DataModelApplication/obj/Release/DataModelApplication.GenerateCodeParameter.resources
DataModelApplication/obj/Release/DataModelApplication.LogDialogBox.resources
DataModelApplication/obj/Release/DataModelApplication.pdb
DataModelApplication/obj/Release/DataModelApplication.Properties.Resources.resources
DataModelApplication/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DataModelApplication/obj/Release/GenerateResource.read.1.tlog
DataModelApplication/obj/Release/GenerateResource.write.1.tlog
DataModelApplication/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Common/bin/Debug/Common.dll
Common/bin/Debug/Common.pdb
Common/obj/Debug/Common.dll
Common/obj/Debug/Common.pdb
DataLibraryBase/obj/Debug/ResolveAssemblyReference.cache
WebApp.Tests/bin/Debug/WebApp.dll
WebApp.Tests/bin/Debug/WebApp.pdb
WebApp.Tests/bin/Debug/WebApp.Tests.dll
WebApp.Tests/bin/Debug/WebApp.Tests.pdb
WebApp.Tests/obj/Debug/ResolveAssemblyReference.cache
WebApp.Tests/obj/Debug/WebApp.Tests.dll
WebApp.Tests/obj/Debug/WebApp.Tests.pdb
WebApp/bin/WebApp.dll
WebApp/bin/WebApp.pdb
WebApp/obj/Debug/WebApp.dll
WebApp/obj/Debug/WebApp.pdb
Common/bin/Debug/Common.dll
Common/bin/Debug/Common.pdb
Common/obj/Debug/Common.dll
Common/obj/Debug/Common.pdb
DataLibraryBase/obj/Debug/ResolveAssemblyReference.cache
WebApp.Tests/bin/Debug/WebApp.dll
WebApp.Tests/bin/Debug/WebApp.pdb
WebApp.Tests/bin/Debug/WebApp.Tests.dll
WebApp.Tests/bin/Debug/WebApp.Tests.pdb
WebApp.Tests/obj/Debug/ResolveAssemblyReference.cache
WebApp.Tests/obj/Debug/WebApp.Tests.dll
WebApp.Tests/obj/Debug/WebApp.Tests.pdb
WebApp/bin/WebApp.dll
WebApp/bin/WebApp.pdb
WebApp/obj/Debug/WebApp.dll
WebApp/obj/Debug/WebApp.pdb
DB_MGZZX_log.ldf
mgzzx_2015.suo
DB_MGZZX_log.ldf
mgzzx_2015.suo
DB_MGZZX.mdf
DB_MGZZX_log.ldf
_ReSharper.mgzzx_2015/NamedArguments/2/4b2fc90.dat
_ReSharper.mgzzx_2015/NamedArguments/5/15ab2848.dat
_ReSharper.mgzzx_2015/NamedArguments/8/51b4412e.dat
_ReSharper.mgzzx_2015/NamedArguments/8/f1d1b60.dat
_ReSharper.mgzzx_2015/WordIndex/9/777d4a6b.dat
Database/Database.dbmdl
DB_MGZZX.mdf
DB_MGZZX_log.ldf
mgzzx_2015.5.0.ReSharper.user
mgzzx_2015.suo
_ReSharper.mgzzx_2015/NamedArguments/2/4b2fc90.dat
_ReSharper.mgzzx_2015/NamedArguments/5/15ab2848.dat
_ReSharper.mgzzx_2015/NamedArguments/8/26c7d7a0.dat
_ReSharper.mgzzx_2015/NamedArguments/8/51b4412e.dat
_ReSharper.mgzzx_2015/NamedArguments/8/f1d1b60.dat
_ReSharper.mgzzx_2015/WordIndex/9/777d4a6b.dat
Common/bin/Debug/Common.dll
Common/bin/Debug/Common.pdb
Common/obj/Debug/Common.csproj.FileListAbsolute.txt
Common/obj/Debug/Common.dll
Common/obj/Debug/Common.pdb
Controls/CustomWebControls/bin/Debug/CustomWebControls.dll
Controls/CustomWebControls/bin/Debug/CustomWebControls.pdb
Controls/CustomWebControls/obj/Debug/CustomWebControls.dll
Controls/CustomWebControls/obj/Debug/CustomWebControls.pdb
DB_MGZZX.mdf
DB_MGZZX_log.ldf
WebApp.Tests/bin/Debug/WebApp.dll
WebApp.Tests/bin/Debug/WebApp.pdb
WebApp.Tests/bin/Debug/WebApp.Tests.dll
WebApp.Tests/bin/Debug/WebApp.Tests.pdb
WebApp.Tests/obj/Debug/ResolveAssemblyReference.cache
WebApp.Tests/obj/Debug/WebApp.Tests.dll
WebApp.Tests/obj/Debug/WebApp.Tests.pdb
WebApp/bin/WebApp.dll
WebApp/bin/WebApp.pdb
WebApp/obj/Debug/WebApp.dll
WebApp/obj/Debug/WebApp.pdb
wwwroot/Media/OtherFile/2015/08/07/134001080838201_150807091037.jpg
wwwroot/Media/OtherFile/2015/08/07/58_150807091037.pdf
wwwroot/Media/OtherFile/2015/08/07/rry_150807011836.jpg
wwwroot/Media/OtherFile/2015/08/07/zcdygmp3_150807091037.zip
wwwroot/Media/OtherFile/2015/08/07/乌兰察布职业学院ip地址_150807091037.xls
wwwroot/Media/OtherFile/2015/08/07/关于建立自治区教育信息化工作月报制度的通知_150807091037.doc
wwwroot/Media/Swf/134001080838201_150807091037.swf
wwwroot/Media/Swf/58_150807091037.swf
wwwroot/Media/Swf/关于建立自治区教育信息化工作月报制度的通知_150807091037.swf
Common/obj/Debug/build.force
Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Common/obj/Debug/ResolveAssemblyReference.cache
Controls/CustomWebControls/obj/Debug/CustomWebControls.csproj.FileListAbsolute.txt
Controls/CustomWebControls/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApp.Tests/bin/Debug/Antlr3.Runtime.dll
WebApp.Tests/bin/Debug/DotNetOpenAuth.AspNet.dll
WebApp.Tests/bin/Debug/DotNetOpenAuth.AspNet.xml
WebApp.Tests/bin/Debug/DotNetOpenAuth.Core.dll
WebApp.Tests/bin/Debug/DotNetOpenAuth.Core.xml
WebApp.Tests/bin/Debug/DotNetOpenAuth.OAuth.Consumer.dll
WebApp.Tests/bin/Debug/DotNetOpenAuth.OAuth.Consumer.xml
WebApp.Tests/bin/Debug/DotNetOpenAuth.OAuth.dll
WebApp.Tests/bin/Debug/DotNetOpenAuth.OAuth.xml
WebApp.Tests/bin/Debug/DotNetOpenAuth.OpenId.dll
WebApp.Tests/bin/Debug/DotNetOpenAuth.OpenId.RelyingParty.dll
WebApp.Tests/bin/Debug/DotNetOpenAuth.OpenId.RelyingParty.xml
WebApp.Tests/bin/Debug/DotNetOpenAuth.OpenId.xml
WebApp.Tests/bin/Debug/EntityFramework.dll
WebApp.Tests/bin/Debug/EntityFramework.xml
WebApp.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
WebApp.Tests/bin/Debug/Microsoft.Web.WebPages.OAuth.dll
WebApp.Tests/bin/Debug/Microsoft.Web.WebPages.OAuth.xml
WebApp.Tests/bin/Debug/Newtonsoft.Json.dll
WebApp.Tests/bin/Debug/Newtonsoft.Json.xml
WebApp.Tests/bin/Debug/System.Net.Http.dll
WebApp.Tests/bin/Debug/System.Net.Http.Formatting.dll
WebApp.Tests/bin/Debug/System.Net.Http.Formatting.xml
WebApp.Tests/bin/Debug/System.Net.Http.WebRequest.dll
WebApp.Tests/bin/Debug/System.Net.Http.WebRequest.xml
WebApp.Tests/bin/Debug/System.Net.Http.xml
WebApp.Tests/bin/Debug/System.Web.Helpers.dll
WebApp.Tests/bin/Debug/System.Web.Helpers.xml
WebApp.Tests/bin/Debug/System.Web.Http.dll
WebApp.Tests/bin/Debug/System.Web.Http.WebHost.dll
WebApp.Tests/bin/Debug/System.Web.Http.WebHost.xml
WebApp.Tests/bin/Debug/System.Web.Http.xml
WebApp.Tests/bin/Debug/System.Web.Mvc.dll
WebApp.Tests/bin/Debug/System.Web.Mvc.xml
WebApp.Tests/bin/Debug/System.Web.Optimization.dll
WebApp.Tests/bin/Debug/System.Web.Razor.dll
WebApp.Tests/bin/Debug/System.Web.Razor.xml
WebApp.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
WebApp.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
WebApp.Tests/bin/Debug/System.Web.WebPages.dll
WebApp.Tests/bin/Debug/System.Web.WebPages.Razor.dll
WebApp.Tests/bin/Debug/System.Web.WebPages.Razor.xml
WebApp.Tests/bin/Debug/System.Web.WebPages.xml
WebApp.Tests/bin/Debug/WebApp.Tests.dll.config
WebApp.Tests/bin/Debug/WebGrease.dll
WebApp.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApp.Tests/obj/Debug/WebApp.Tests.csproj.FileListAbsolute.txt
WebApp/bin/Antlr3.Runtime.dll
WebApp/bin/DotNetOpenAuth.AspNet.dll
WebApp/bin/DotNetOpenAuth.AspNet.xml
WebApp/bin/DotNetOpenAuth.Core.dll
WebApp/bin/DotNetOpenAuth.Core.xml
WebApp/bin/DotNetOpenAuth.OAuth.Consumer.dll
WebApp/bin/DotNetOpenAuth.OAuth.Consumer.xml
WebApp/bin/DotNetOpenAuth.OAuth.dll
WebApp/bin/DotNetOpenAuth.OAuth.xml
WebApp/bin/DotNetOpenAuth.OpenId.dll
WebApp/bin/DotNetOpenAuth.OpenId.RelyingParty.dll
WebApp/bin/DotNetOpenAuth.OpenId.RelyingParty.xml
WebApp/bin/DotNetOpenAuth.OpenId.xml
WebApp/bin/EntityFramework.dll
WebApp/bin/EntityFramework.xml
WebApp/bin/Microsoft.Web.Infrastructure.dll
WebApp/bin/Microsoft.Web.WebPages.OAuth.dll
WebApp/bin/Microsoft.Web.WebPages.OAuth.xml
WebApp/bin/Newtonsoft.Json.dll
WebApp/bin/Newtonsoft.Json.xml
WebApp/bin/System.Net.Http.dll
WebApp/bin/System.Net.Http.Formatting.dll
WebApp/bin/System.Net.Http.Formatting.xml
WebApp/bin/System.Net.Http.WebRequest.dll
WebApp/bin/System.Net.Http.WebRequest.xml
WebApp/bin/System.Net.Http.xml
WebApp/bin/System.Web.Helpers.dll
WebApp/bin/System.Web.Helpers.xml
WebApp/bin/System.Web.Http.dll
WebApp/bin/System.Web.Http.WebHost.dll
WebApp/bin/System.Web.Http.WebHost.xml
WebApp/bin/System.Web.Http.xml
WebApp/bin/System.Web.Mvc.dll
WebApp/bin/System.Web.Mvc.xml
WebApp/bin/System.Web.Optimization.dll
WebApp/bin/System.Web.Razor.dll
WebApp/bin/System.Web.Razor.xml
WebApp/bin/System.Web.WebPages.Deployment.dll
WebApp/bin/System.Web.WebPages.Deployment.xml
WebApp/bin/System.Web.WebPages.dll
WebApp/bin/System.Web.WebPages.Razor.dll
WebApp/bin/System.Web.WebPages.Razor.xml
WebApp/bin/System.Web.WebPages.xml
WebApp/bin/WebGrease.dll
WebApp/bin/WebMatrix.Data.dll
WebApp/bin/WebMatrix.Data.xml
WebApp/bin/WebMatrix.WebData.dll
WebApp/bin/WebMatrix.WebData.xml
WebApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApp/obj/Debug/ResolveAssemblyReference.cache
WebApp/obj/Debug/WebApp.csproj.FileListAbsolute.txt
_ReSharper.mgzzx_2015/BuildScriptCache/5/c5db176.dat
_ReSharper.mgzzx_2015/NamedArguments/0/3f52866b.dat
_ReSharper.mgzzx_2015/NamedArguments/5/c5db176.dat
_ReSharper.mgzzx_2015/NamedArguments/6/67f4076b.dat
_ReSharper.mgzzx_2015/Resources/5/c5db176.dat
_ReSharper.mgzzx_2015/TagPrefixes/5/c5db176.dat
_ReSharper.mgzzx_2015/TodoCache/1/71928850.dat
_ReSharper.mgzzx_2015/WordIndex/1/46e9643f.dat
_ReSharper.mgzzx_2015/WordIndex/3/3d10a889.dat
_ReSharper.mgzzx_2015/WordIndex/8/1d15989f.dat
_ReSharper.mgzzx_2015/WordIndex/9/65498daa.dat
.gitignore
Common/bin/Debug/iTextAsian.dll
Common/bin/Debug/iTextAsianCmaps.dll
Common/bin/Debug/itextsharp.dll
Common/bin/Debug/Microsoft.Office.Interop.Access.dll
Common/bin/Debug/Microsoft.Office.Interop.Excel.dll
Common/bin/Debug/Microsoft.Office.Interop.Excel.xml
Common/bin/Debug/Microsoft.Office.Interop.PowerPoint.dll
Common/bin/Debug/Microsoft.Office.Interop.Visio.dll
Common/bin/Debug/Microsoft.Office.Interop.Word.dll
Common/bin/Debug/Microsoft.Office.Interop.Word.xml
Common/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
Common/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Data.dll
Common/bin/Debug/Microsoft.Practices.ObjectBuilder.dll
Common/bin/Debug/Newtonsoft.Json.dll
Common/bin/Debug/Telerik.Web.UI.dll
Common/bin/Debug/Telerik.Web.UI.Skins.dll
Common/bin/Debug/Telerik.Web.UI.xml
DataLibraryBase/bin/Debug/Microsoft.Practices.ObjectBuilder.dll
DataModelApplication/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DataModelApplication/obj/Debug/ResolveAssemblyReference.cache
CodeAutoGenerate/Template/WebUISearchForApp.aspx.cs.xsl
CodeAutoGenerate/Template/WebUISearchForApp.aspx.xsl
DB_MGZZX.mdf
DB_MGZZX_log.ldf
